/*****************************************************************************
 * NOTE TOOLBAR (CSS Snippet for Obsidian)
 * 
 * Author: Chris Gurney https://chrisgurney.ca/ https://github.com/chrisgurney/
 * License: Feel free to use and modify. Attribution would be appreciated.
 * Version: 20240318.0
 * 
 * Adds an unobtrusive toolbar that blends well with your Obsidian note, made 
 * up of any items you provide in a standard markdown list.
 * 
 * INSTALLATION
 * 
 * Install the obsidian-note-toolbar plugin via Community Plugins.
 *
 * OR
 *   1. Add this CSS file to your .obsidian/snippets folder in your vault.
 *   2. Enable it in Obsidian Settings... > Appearance > CSS Snippets
 * 
 * USAGE
 * 
 * Create a toolbar by creating a callout containing any list, like this:
 * 
 * > [!note-toolbar]
 * > - [Link Menu Item](obsidian://...)
 * > - [[Page Menu Item]]
 * > - Menu Item That Won't Do Anything
 * 
 * To control its appearance, optionally add metadata by adding a | and listing
 * options, for example:
 *
 * > [!note-toolbar|border-right-sticky]
 *
 * Style options are as follows, and can be combined (per the above example):
 *   border = adds a top and bottom border
 *   center = aligns items center
 *   right = aligns items right
 *   even = distributes items evenly
 *   sticky = sticks to top on scroll (on desktop)
 *   float = floats the toolbar right of nearby content
 * 
 * USAGE TIPS
 * 
 * - Toolbars can be placed anywhere in a note, even within other callouts!
 * - That said, you may want to place the toolbar one space below the top of a 
 *   note, so that the callout code doesn't get expanded when switching to the note
 *   in Editing mode.
 * - The sticky option is disabled on mobile, but see comment below to enable it.
 * - Note Toolbar pairs well with these plugins, which I use:
 *   - Advanced URI (for linking to any Obsidian command)
 *   - Dataview (e.g., generate a list of your Bookmarks)
 *   - Periodic Notes (link to today's, and previous/next Daily Notes)
 *   - Shell Commands (for executing shell scripts, Python code, etc.) 
 *****************************************************************************/

.metadata-container {
    margin-block-end: 0;
}

.cm-embed-block:has(> div > .callout[data-callout="note-toolbar"]) {
    &:hover {
        box-shadow: none !important; /* hide the border on hover of the toolbar callout */
        & .edit-block-button {
            display: none; /* hide the edit icon that appears */
        }
    }
}

.cm-embed-block:has(> div > .callout[data-callout="note-toolbar"][data-callout-metadata*="sticky"]) {
    position: sticky;
    top: -2.5rem;
    z-index: 2;
    .is-mobile & {
        top: -1rem;
    }
}

.is-mobile .cm-embed-block:has(> div > .callout[data-callout="note-toolbar"][data-callout-metadata*="mstcky"]) {
    position: sticky;
    z-index: 2;
}
.cm-embed-block:has(> div > .callout[data-callout="note-toolbar"][data-callout-metadata*="mstcky"]) {
    .is-mobile & {
        top: -1rem;
    }
}

/* default, if not specified */
.cm-embed-block:has(> div > .callout[data-callout="note-toolbar"][data-callout-metadata*="nosticky"]) {
    top: inherit;
    position: relative;
}

.cm-embed-block:has(> div > .callout[data-callout="note-toolbar"][data-callout-metadata*="mnstcky"]) {
    .is-mobile & {
        top: inherit;
        position: relative;
    }
}

.callout[data-callout="note-toolbar"] {

    background-color: var(--background-primary);
    padding: inherit;
    width: 100%;

    & .callout-title {
        display: none;
    }

    & .callout-content {

        & ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0rem;
            margin: 0.5em 0 0.5em 0;
            padding-inline-start: 0;
        }
    
        & li {
            list-style: none;
            padding: 0;
            margin: 0;
            
            & div.list-bullet {
                display: none; /* remove for reading mode */
            }
            &.hide-on-mobile {
                .is-mobile & {
                    display: none;
                }
            }
            &.hide-on-desktop {
                .is-mobile & {
                    display: block !important;
                }
            }
        }

        & a {
            color: var(--metadata-label-text-color);
            padding: 0.5em 0.75em 0.5em 0.75em;
            display: block;
            text-decoration: none;
            font-size: var(--metadata-label-font-size);
            border-radius: var(--button-radius);
        }

        & a:hover {
            box-shadow: none;
            opacity: var(--icon-opacity-hover);
            background-color: var(--background-modifier-hover);
            color: var(--text-normal);
        }

        & a.external-link {
            background-image: none; /* hide the external link icon */
        }

    }

    /*************************************************************************
     * Toolbar Styles (sticky's at top)
     *************************************************************************/

    &[data-callout-metadata*="border"] {
        border-top: solid 1px var(--hr-color);
        border-bottom: solid 1px var(--hr-color);
        border-radius: 0;
    }

    &[data-callout-metadata*="mbrder"] {
        .is-mobile & {
            border-top: solid 1px var(--hr-color);
            border-bottom: solid 1px var(--hr-color);
            border-radius: 0;
        }
    }

    /* default, if not specified */
    &[data-callout-metadata*="noborder"] {
        border: inherit;
    }

    &[data-callout-metadata*="mnbrder"] {
        .is-mobile & {
            border: inherit;
        }
    }

    &[data-callout-metadata*="center"] ul {
        justify-content: center;
    }
    
    &[data-callout-metadata*="mctr"] ul {
        .is-mobile & {
            justify-content: center;
        }
    }

    &[data-callout-metadata*="even"] ul {
        justify-content: space-evenly;
    }
    
    &[data-callout-metadata*="mevn"] ul {
        .is-mobile & {
            justify-content: space-evenly;
        }
    }

    &[data-callout-metadata*="floatl"] {
        float: left;
        width: inherit;
    }

    &[data-callout-metadata*="mfltl"] {
        .is-mobile & {
            float: left;
            width: inherit;
        }
    }

    &[data-callout-metadata*="floatr"] {
        float: right;
        width: inherit;
    }

    &[data-callout-metadata*="mfltr"] {
        .is-mobile & {
            float: right;
            width: inherit;
        }
    }

    /* default, if not specified */
    &[data-callout-metadata*="nofloat"] {
        float: inherit;
    }

    &[data-callout-metadata*="mnflt"] {
        .is-mobile & {
            float: inherit;
        }
    }

    /* default, if not specified */
    &[data-callout-metadata*="left"] ul {
        justify-content: left;
    }

    &[data-callout-metadata*="mlft"] ul {
        .is-mobile & {
            justify-content: left;
        }
    }

    &[data-callout-metadata*="right"] ul {
        justify-content: right;
    }

    &[data-callout-metadata*="mrght"] ul {
        .is-mobile & {
            justify-content: right;
        }
    }

    /* TODO REMOVE: old dataview version code */
    &.dv-cg-note-toolbar {
        margin-bottom: 1rem;
        .is-mobile & {
            margin: 0.4rem 0.4rem 1rem 0;
        }
    }
    
}

/*****************************************************************************
* Settings Styles (for Note Toolbar Plugin)
******************************************************************************/

.note-toolbar-setting-toolbar-list, .note-toolbar-setting-item {
    border-radius: 8px;
    border: 1px solid var(--background-modifier-border);
    margin: 0em 0em 1em 0em;
    padding: 1.5em 1.5em 0.5em 1.5em;
    .is-mobile & {
        padding: 1em;
    }
    &:has(:first-child) {
        .is-phone & {
            padding-top: 0;
        }
    }
    &:has(:last-child) {
        .is-mobile & {
            padding-bottom: 0;
        }
    }
}

.note-toolbar-setting-empty-message {
    padding-bottom: 1em;
    color: var(--text-muted);
    .note-toolbar-setting-item-styles & {
        padding-bottom: 0;    
    }
}

.note-toolbar-setting-error-message {
    color: var(--color-red);
    padding-bottom: 1em;
}

.note-toolbar-setting-error {
    & input[type="text"], & input[type="search"] {
        box-shadow: 0 0 0 1px var(--color-red);
    }
}

.note-toolbar-setting-button {
    border-top: none;
    padding-top: 0 !important;
    padding-bottom: 1em !important;
}

.note-toolbar-setting-no-controls {
    & .setting-item-control {
        display: none;
    }
}

.note-toolbar-setting-item-delete-button {
    margin-top: 2em !important;
}

.note-toolbar-setting-item-url {
    width: 100%;
}

.note-toolbar-setting-item-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
}

.note-toolbar-setting-item-field {
    border-top: none;
    padding-top: 0 !important;
    & .setting-item-info {
        display: none;
    }
    & .setting-item-control {
        .is-mobile & {
            margin-top: 0 !important;
        }
    }
}

.note-toolbar-setting-item-field-url {
    width: 100%;
    & .setting-item-info {
        display: none;
    }
    & .setting-item-control {
        width: 100%;
        & input[type="text"] {
            width: 100%;
        }
        .is-mobile & {
            margin-top: 0 !important;
        }
    }
}

.note-toolbar-setting-item-toggle {
    border-top: none;
    padding: 0.75em 0 0.75em 0 !important;
    &:not(:first-child) {
        padding-left: 1em !important;
    }
    .is-mobile & {
        padding-bottom: 0em !important;
    }
    & .setting-item-info {
        margin-right: 0.5em;
    }
    & .setting-item-name {
        color: var(--text-muted);
        font-size: var(--font-ui-smaller);
    }
}

.note-toolbar-setting-item-controls {
    .setting-item {
        & .setting-item-info {
            display: none;
        }
        .is-mobile & {
            padding-top: 0 !important;
        }
        & .setting-item-control {
            .is-mobile & {
                margin-top: 0 !important;
            }
        }
    }
}

.note-toolbar-setting-item-styles {
    border-top: none;
    & > .setting-item-info {
        align-self: flex-start;
    }
}

.note-toolbar-setting-item-style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    gap: 0.25em;
    .setting-item {
        border-top: none;
        border: dashed 1px var(--pill-color-remove);
        border-radius: var(--pill-radius);
        padding: 0 0.25em 0 0.75em !important;
        flex-wrap: nowrap;
        height: var(--input-height);
        .is-mobile & {
            flex-direction: row !important;
            align-items: center !important;
        }
        &:first-child {
            border: dashed 1px var(--pill-color-remove) !important;
        }
        &:last-child {
            border: none !important;
            padding: 0em !important;
            flex-basis: 100%;
        }
        & .setting-item-info {
            margin-right: 0.25em;
            color: var(--pill-color);
            & .setting-item-name {
                font-size: var(--metadata-input-font-size);
            }
        }
        & .setting-item-control {
            --icon-size: var(--icon-xs);
            --icon-stroke: var(--icon-xs-stroke-width);
            .is-mobile & {
                margin-top: 0 !important;
            }
            & select[class="dropdown"] {
                border-radius: 2em;
                font-size: var(--metadata-input-font-size);
            }
        }
    }
}

.note-toolbar-setting-confirm-dialog {
    width: 50%;
}

.note-toolbar-setting-modal-container .modal-title {
    .is-mobile & {
        /* modals opened from modals seem to have a large title for the "safe area", but are shifted down, so we'll remove it here */
        padding: var(--size-4-3);
    }
}

.vertical-tab-content.note-toolbar-setting-modal {
    padding-top: var(--size-4-8);
    padding-left: var(--size-4-5);
    padding-right: var(--size-4-5);
    .is-mobile & {
        padding-top: 0 !important;
    }
    .setting-item {
        .is-mobile & {
            padding-top: var(--size-4-2);
            padding-bottom: var(--size-4-2);
        }
    }
}