/*
 * Menu
 */

.note-toolbar-menu {
    background-color: var(--cg-nt-menu-bg-color);
    border-color: var(--cg-nt-menu-border-color);
    border-radius: var(--cg-nt-menu-border-radius);
    & .menu-item {
        border-radius: var(--cg-nt-menu-item-border-radius);
        color: var(--cg-nt-menu-item-text-color);
        font-size: var(--cg-nt-menu-item-font-size);
        &:hover {
            background-color: var(--cg-nt-menu-item-bg-color-hover);
        }
        &.is-label {
            font-size: var(--font-ui-small);
            color: var(--text-muted);
            & .menu-item-icon {
                display: none;
            }
        }
        & .menu-item-icon {
            color: var(--cg-nt-menu-icon-color);
            & svg {
                height: var(--cg-nt-menu-icon-size);
                width: var(--cg-nt-menu-icon-size);
            }
        }
        &.is-disabled {
            color: var(--text-faint);
            & .menu-item-icon {
                color: var(--text-faint);
            }
        }
        /* fix for hotkeys not displaying next to text */
        & .menu-item-title {
            align-items: center;
            display: flex;
        }
    }
    & .menu-item.selected:not(.is-label):not(.is-disabled) {
        background-color: var(--cg-nt-menu-item-bg-color-hover);
    }
}

body[data-ntb-csstheme="Cupertino"],
body.is-tablet:has(.callout[data-callout="note-toolbar"][data-callout-metadata*="mgls"]) {
    & .note-toolbar-menu {
        background-color: var(--ntb-liquid-glass-background);
        backdrop-filter: var(--raised-blur) !important;
        border-color: var(--background-modifier-border);
        border-radius: 20px;
        border-style: solid;
        border-width: var(--border-width);
        box-shadow: var(--ntb-shadow-xs);
        mix-blend-mode: normal !important;
        & .menu-item {
            border-radius: 24px;
        }
    }
}