/*
 * Settings 
 */
.note-toolbar-setting-ui, .note-toolbar-setting-modal-container {
    & .setting-group {
        & .setting-items {
            &:focus-within {
                box-shadow: inset 0 0 0 2px var(--background-modifier-border-focus);
            }
        }
    }
    & .setting-item-info {
        & .setting-item-description {
            overflow: visible;
        }
        & .setting-item-description a:focus-within {
            box-shadow: var(--cg-nt-settings-link-focus-box-shadow);
        }
    }
    & .setting-item-control .clickable-icon:focus-within {
        /* border-radius: var(--input-radius); */
        box-shadow: inset 0 0 0 1px var(--background-modifier-border);
        box-shadow: inset 0 0 0 2px var(--background-modifier-border-focus);
    }
    & .is-disabled {
        opacity: 0.6;
        & .setting-item-control:focus-within {
            box-shadow: none !important;
        }
        &:hover {
            background-color: initial;
        }
    }
}

.note-toolbar-setting-modal-container {
    .is-mobile & {
        & .setting-group {
            border-radius: var(--radius-m);
            border: var(--border-width) solid var(--background-modifier-border);
            & .setting-items {
                border-radius: var(--radius-m);
            }
        }
    }
}

.note-toolbar-setting-plugin-error,
.note-toolbar-setting-plugin-onboarding {
    padding: 1em !important;
    border-radius: 8px;
}

.note-toolbar-setting-plugin-error {
    & .setting-item-name {
        color: var(--text-error);
    }
    border: solid 1px var(--text-error) !important;
}

.note-toolbar-setting-plugin-onboarding {
    border: solid 1px var(--color-accent-1) !important;
    position: relative;
    & .setting-item-name {
        color: var(--color-accent-1);
    }
    & .setting-item-control {
        .is-phone & {
            margin-top: unset !important;
        }
    }
}

.note-toolbar-setting-plugin-onboarding-close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.note-toolbar-setting-item-link-container > .note-toolbar-setting-plugin-error {
    font-size: var(--font-ui-small);
}

.note-toolbar-setting-toolbar-list {
    background-color: var(--setting-items-background);
    border-radius: var(--setting-items-radius);
    margin: 0em 0em 1em 0em;
    padding: 1em 1em;
    .is-mobile & {
        padding: 1em;
        & .setting-item > .setting-item-control > button {
            width: unset !important;
        }
    }
    & .setting-item {
        background-color: transparent !important;
        border-radius: 0;
        border-top: var(--border-width) solid var(--background-modifier-border);
        &:first-child {
            border-top: none;
        }
        padding: 0.5em;
        margin: 0.25em;
        /* options button */
        & button:first-child {
            opacity: 0;
            .is-mobile & {
                opacity: 1;
                width: auto;
            }
        }
        /* edit button */
        & button:last-child {
            .is-mobile & {
                width: auto;
            }
        }
        &:hover button:first-child {
            opacity: 1;
        }
        &:focus-within {
            outline: solid 2px var(--background-modifier-border-focus);
            border-radius: var(--radius-m);
            & button:first-child {
                opacity: 1;
            }
        }
    }
} 

.mod-cta .note-toolbar-setting-text-with-icon {
    & svg {
        color: var(--text-on-accent);
    }
}

.note-toolbar-setting-text-with-icon {
    display: inline-flex;
    column-gap: 0.5em;
    align-items: center;
    & svg {
        color: var(--text-color) !important;
        vertical-align: middle;
    }
}

.note-toolbar-setting-item {
    border-radius: var(--radius-m);
    border: 1px solid var(--background-modifier-border);
    padding: 1.5em;
    .is-mobile & {
        padding: 1em;
    }
    &:focus-within {
        box-shadow: inset 0 0 0 1px var(--background-modifier-border);
        box-shadow: inset 0 0 0 2px var(--background-modifier-border-focus);
    }
    &[data-active="true"] {
        display: inherit !important;
    }
    &[data-active="false"] {
        display: none !important;
    }
}

.note-toolbar-setting-item-preview-container {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    min-height: calc(var(--line-height-tight) * var(--font-ui-medium) + 16px);
    & .note-toolbar-setting-item-controls {
        & .setting-item {
            padding-bottom: 0;
        }
    }
    + .note-toolbar-setting-field-error {
        padding-top: 8px;
        padding-bottom: 16px;
    }
    &[data-active="true"] {
        display: flex !important;
    }
    &[data-active="false"] {
        display: none !important;
    }
}

.note-toolbar-setting-ui {
    .setting-item {
        &[data-active="true"] {
            display: flex !important;
        }
        &[data-active="false"] {
            display: none !important;
        }
    }
}

.note-toolbar-setting-item-preview-code {
    font-family: var(--font-monospace);
    white-space: normal !important;
    overflow-wrap: anywhere;
}

.note-toolbar-setting-item-preview .note-toolbar-setting-item-preview-code {
    font-size: var(--font-ui-small); 
}

.note-toolbar-setting-item-preview {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    font-size: var(--font-ui-medium);
    column-gap: 0.5em;
    padding: 8px;
    .is-mobile & {
        padding-inline-start: 0;
        margin-inline-end: 0.25em;
    }
    &[data-item-type="group"] {
        line-height: var(--line-height-tight);
    }
    &[data-item-type="break"],
    &[data-item-type="separator"] {
        & span {
            color: var(--color-base-50);
            display: flex;
            flex-direction: row;
            font-size: var(--font-ui-smaller);
            font-variant: small-caps;
            height: 1em;
            text-transform: lowercase;
            width: 100%;
            &:before, &:after {
                content: "";
                flex: 1 1;
                margin: auto;    
            }
            &:before {
                margin-right: 6px;
            }
            &:after {
                margin-left: 6px;
            }
        }
    }
    &[data-item-type="separator"] > span {
        &:before, &:after {
            border: dashed 1px var(--color-base-40);
        }
    }
    &[data-item-type="break"] > span {
        &:before, &:after {
            border: solid 1px var(--color-base-50);
        }
    }
    & span {
        display: flex;
        align-items: center;
    }
    & svg.note-toolbar-none {
        width: 0;
    }
    & .note-toolbar-setting-tbar-preview {
        color: var(--color-base-60);
        & svg {
            height: var(--font-ui-medium);
            width: var(--font-ui-medium);            
        }
    }
    &:focus-within {
        border-radius: var(--radius-m);
        box-shadow: inset 0 0 0 1px var(--background-modifier-border);
        box-shadow: inset 0 0 0 2px var(--background-modifier-border-focus);
    }
    @media (hover: hover) {
        &:hover {
            border-radius: var(--radius-m);
            box-shadow: inset 0 0 0 1px var(--background-modifier-border);
            box-shadow: inset 0 0 0 2px var(--background-modifier-border-focus);
            cursor: text;    
        }
    }
}

.note-toolbar-setting-hotkey,
.note-toolbar-setting-command-indicator {
    font-size: var(--font-ui-small);
    background-color: var(--background-modifier-hover);
    border-radius: var(--radius-s);
    color: var(--text-muted);
    margin-inline-start: 0.5em;
    padding: 2px 8px 2px 8px;
    gap: var(--size-4-1);
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.note-toolbar-setting-command-indicator {
    padding: 2px;
    & svg {
        height: var(--font-ui-small);
        vertical-align: middle;
    }
}

.note-toolbar-setting-item-preview-edit-mobile {
    display: flex;
    column-gap: 0.5em;
    justify-content: space-between;
    width: 100%;
}

.note-toolbar-setting-icon-button-cta {
    & svg {
        color: var(--interactive-accent);
    }
}

.note-toolbar-setting-item-preview-icon:empty {
    display: none;
}

.note-toolbar-setting-item-preview-empty,
.note-toolbar-setting-item-preview-tooltip {
    color: var(--color-base-60);
    font-style: italic;
}

.note-toolbar-setting-toolbar-list-preview-item {
    align-items: center;
    display: flex;
    gap: 4px;
    line-height: var(--line-height-normal);
    & span {
        white-space: nowrap;
        &.note-toolbar-setting-group-preview {
            border-radius: 4px;
            border: solid 1px var(--background-modifier-border);
            font-variant: small-caps;
            line-height: var(--line-height-tight);
            text-transform: lowercase;
            padding: 0px 8px;
        }
    }
}

.note-toolbar-setting-empty-message {
    align-items: center;
    color: var(--text-muted);
    display: flex;
    font-style: italic;
    height: var(--input-height);
    padding-bottom: 1em;
    .note-toolbar-setting-item-styles & {
        padding-bottom: 0;    
    }
    .note-toolbar-setting-items-list-container & {
        padding: 0;
        margin: auto;
    }
}

.note-toolbar-setting-error-message {
    color: var(--text-error);
    padding-bottom: 1em;
}

.setting-item-control:has(input[type="search"].note-toolbar-setting-error),
.setting-item-control:has(input[type="text"].note-toolbar-setting-error) {
    flex-wrap: wrap;
}

input[type="search"].note-toolbar-setting-error,
input[type="text"].note-toolbar-setting-error,
.note-toolbar-setting-error textarea {
    box-shadow: 0 0 0 1px var(--text-error);
}

.note-toolbar-setting-error {
    &.note-toolbar-setting-item-preview {
        border-radius: var(--radius-m);
        box-shadow: 0 0 0 1px var(--text-error);
        animation-duration: 1s, 1s;
        animation-delay: 0s, .1s;
        animation-name: note-toolbar-setting-error-grows, note-toolbar-setting-error-shrinks;
        animation-timing-function: cubic-bezier(.2,0,0,1), cubic-bezier(.2,0,0,1);
        margin: 2px;
        .is-mobile & {
            padding-inline-start: 0.5em;
        }
    }
    & input[type="text"], & input[type="search"] {
        box-shadow: 0 0 0 1px var(--text-error);
    }
}

@keyframes note-toolbar-setting-error-grows {
    0% {
      box-shadow: 0 0 0 1px var(--text-error);
    }
    100% {
        box-shadow: 0 0 0 3px var(--text-error);
    }
}
  
@keyframes note-toolbar-setting-error-shrinks {
    0% {
        box-shadow: 0 0 0 3px var(--text-error);
    }
    100% {
        box-shadow: 0 0 0 1px var(--text-error);
    }
}

.note-toolbar-setting-button {
    border-top: none;
    padding-top: 0 !important;
    padding-bottom: 1em !important;
}

.is-phone .note-toolbar-setting-header-phone {
    padding-top: 2.25em !important
}

.note-toolbar-setting-no-background {
    background-color: transparent !important;
}

.note-toolbar-setting-no-border {
    border-top: none !important;
}

.note-toolbar-setting-top-border {
    border-top: solid 1px var(--background-modifier-border) !important;
}

.note-toolbar-setting-top-spacing {
    margin-top: 2em !important;
}

.note-toolbar-setting-bottom-spacing {
    margin-bottom: 2em !important;
}

.note-toolbar-setting-group-container {
    &[data-active="false"] {
        display: none !important;
    }
}

.note-toolbar-setting-item-full-width {
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--size-4-2);
    & .setting-item-control {
        width: 100%;
        & input[type="text"] {
            width: 100%;
        }
    }
}

.note-toolbar-setting-item-full-width-phone {
    & .setting-item-control > div {
        .is-mobile & {
            width: 100%;
        }
    }
}

.note-toolbar-setting-folder-list-item-container {
    display: flex;
    border-top: var(--border-width) solid var(--background-modifier-border);
    &:first-child {
        border-top: none;
    }
    padding: 8px 0;
    & .setting-item {
        align-items: center !important;
        border-bottom: none !important;
        margin-bottom: 0 !important;
        padding: unset;
    }
    & .note-toolbar-setting-item-fields {
        padding: unset;
        padding-right: 8px;
        & .setting-item {
            flex-grow: 1;
            & .search-input-container {
                flex-grow: 1;
                & input {
                    padding-inline-end: 0;
                }
            }
        }
    }
}

.note-toolbar-setting-items-header {
    border-bottom: 1px solid var(--background-modifier-border) !important;
    border-width: 0 0 var(--border-width) 0 !important;
    border-radius: 0%;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.note-toolbar-setting-app-toolbars-container,
.note-toolbar-setting-callout-container,
.note-toolbar-setting-contexts-container,
.note-toolbar-setting-items-container,
.note-toolbar-setting-mappings-container,
.note-toolbar-setting-rules-container {
    padding-top: 0.75em;
    & .setting-item-heading {
        flex-direction: row !important;
        & .setting-item-info {
            cursor: pointer;
        }
        .is-mobile & {
            & .setting-item-control {
                gap: var(--size-4-4);
                width: unset !important;
            }
        }
        .is-phone & {
            padding-top: 1.5em !important;
        }
    }
    & #tbar-search {
        padding-top: 0;
        margin-bottom: 0;
        & .setting-item-info {
            display: none;
        }
        & .setting-item-control {
            margin-top: unset;
        }
    }
    &[data-active="true"] {
        & .note-toolbar-setting-items-collapsible-container,
        & .note-toolbar-setting-items-list-container {
            display: inherit !important;
            & .setting-item-name {
                display: flex;
            }
        }
        & .setting-item .note-toolbar-setting-item-expand svg {
            transform: rotate(0deg);
            transition: 0.1s;
        }
    }
    &[data-active="false"] {
        & .note-toolbar-setting-items-collapsible-container,
        & .note-toolbar-setting-items-list-container {
            display: none !important;
        }
        & .setting-item .note-toolbar-setting-item-expand svg {
            transform: rotate(-90deg);
            transition: 0.1s;
        }
        & .setting-item-heading {
            margin-bottom: 0.75em;
        }
    }
}

.note-toolbar-setting-callout-container,
.note-toolbar-setting-contexts-container,
.note-toolbar-setting-mappings-container,
.note-toolbar-setting-rules-container {
    & .setting-item {
        .is-phone & {
            & .setting-item-control {
                justify-content: flex-end !important;
            }
        }
    }
}

.note-toolbar-setting-items-container {
    & .setting-item {
        .is-phone & {
            flex-direction: unset !important;
        }
    }
}

/* collapsible sections - bottom border */
.note-toolbar-setting-app-toolbars-container,
.note-toolbar-setting-callout-container,
.note-toolbar-setting-contexts-container,
.note-toolbar-setting-mappings-container {
    &[data-active="true"] {
        margin-bottom: 0.75em;
    }
}

/* fix for mappings heading not being full width */
.note-toolbar-setting-mappings-container {
    .is-phone & {
        & .note-toolbar-setting-no-border {
            & .setting-item-control {
                width: unset !important;
            }
        }
    }
}

.note-toolbar-setting-item-heading-top-spacing {
    padding-top: 1.5em;
}

.is-phone .note-toolbar-setting-items-container,
.is-phone .note-toolbar-setting-items-list-container {
    & .note-toolbar-setting-button {
        & .setting-item-info {
            display: none;
        }
    }  
}

.note-toolbar-setting-items-button-container {
    align-items: center !important;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
    & .setting-item {
        border-top: none;
        padding: 0 !important;
        & .setting-item-info {
            display: none;
        }
        & .setting-item-control {
            gap: var(--size-4-4);
            margin-top: 0 !important;
        }
    }
    & svg {
        color: var(--interactive-accent);
    }
}

.note-toolbar-setting-item-top-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    & .setting-item {
        border-bottom: none !important;
    }
}

.note-toolbar-setting-item-visibility-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    & .setting-item {
        border-bottom: none !important;
    }
}

.note-toolbar-setting-item-icon {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    & .setting-item-info {
        display: none;
    }
    & .setting-item-control {
        margin-top: 0 !important;
        border: dashed 1px;
        border-radius: var(--input-radius);
        border-color: var(--background-modifier-border);
        padding: var(--size-2-2) !important;
        & .clickable-icon[data-note-toolbar-no-icon="true"] {
            & svg {
                filter: brightness(0.5);
            }
        }
        & .clickable-icon:focus-within {
            box-shadow: none;
        }
        &:focus-within {
            border-radius: var(--input-radius);
            box-shadow: 0 0 0 1px var(--background-modifier-border);
            box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
            transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
        }
    }
}

.note-toolbar-setting-mapping-field {
    border-top: none !important;
    padding: 0 !important;
    & .setting-item-info {
        display: none;
    }
    & .setting-item-control {
        justify-content: flex-start;
        .is-mobile & {
            margin-top: 0 !important;
        }
    }
}

.note-toolbar-setting-item-field {
    border-top: none !important;
    flex-grow: 1;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .is-mobile & {
        padding-bottom: 0.75em;            
    }
    & .setting-item-info {
        display: none;
    }
    & .setting-item-control {
        width: 100%;
        & input[type="text"] {
            width: 100%;
        }
        .is-mobile & {
            margin-top: 0 !important;
        }
    }
}

.note-toolbar-setting-item-link-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    gap: 0.75em;
    width: 100%;
    & .setting-item {
        /* padding: 0 !important; */
        & .setting-item-info {
            display: none;
        }
        & .setting-item-control {
            justify-content: start;
            .is-mobile & {
                margin-top: 0 !important;
            }
        }
    }
}

.note-toolbar-setting-item-link-field,
.note-toolbar-setting-item-link-subfield {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    column-gap: 1em;
    /* row-gap: 1em; */
    & .setting-item {
        padding: 0;
    }
    & .setting-item-info {
        display: none;
    }
    & .setting-item-control {
        .is-mobile & {
            margin-top: 0 !important;
        }
    }
}

.note-toolbar-setting-subfield-advanced-container {
    width: 100%;
}

.note-toolbar-setting-subfield-advanced {
    align-items: center !important;
    display: flex;
    flex-direction: row !important;
    flex-grow: 1;
    flex-wrap: wrap;
    & .setting-item-info {
        display: initial !important;
        & .setting-item-name {
            cursor: pointer;
        }
    }
    & .setting-item-control {
        align-items: flex-end !important;
        width: auto !important;
        .is-mobile & {
            margin-top: 0 !important;
        }
    }
}

.note-toolbar-setting-item-link-advanced {
    display: none;
    &[data-active] {
        display: flex !important;
    }
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;
    & .setting-group {
        .is-mobile & {
            border: var(--border-width) solid var(--background-modifier-border);
            border-radius: var(--radius-m);
        }
    }
    & .setting-item {
        border: none;
        padding: 0;
    }
    & .setting-item-info {
        display: initial !important;
        & .setting-item-name {
            font-size: var(--font-ui-small);
        }
    }
    & .setting-item-control {
        justify-content: end !important;
        .is-mobile & {
            margin-top: 0 !important;
        }
    }
}

.note-toolbar-setting-item-link {
    width: 100%;
}

.note-toolbar-setting-item-field-link {
    align-items: flex-start;
    border-top: none !important;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0 !important;
    width: 100%;
    & .setting-item-info {
        display: none;
    }
    & .setting-item-control {
        align-items: flex-start;
        flex-direction: column;
        /* for the advanced settings gear */
        &.note-toolbar-setting-item-control-advanced {
            align-items: center;
            flex-direction: row
        }
    };
    & .setting-item-control, .search-input-container {
        width: 100%;
        & input[type="text"] {
            width: 100%;
        }
    }
    & textarea {
        height: 6rem;
        width: 100%;
    }
}

.note-toolbar-setting-focussable-link {
    &:focus-within {
        box-shadow: var(--cg-nt-settings-link-focus-box-shadow);
    }
}

.note-toolbar-setting-field-help,
.note-toolbar-setting-field-error {
    color: var(--text-muted);
    font-size: var(--font-ui-smaller);
    line-height: var(--line-height-tight);
    display: block;
    text-align: start;
    & a:focus-within {
        box-shadow: var(--cg-nt-settings-link-focus-box-shadow);
    }
    & ol, ul {
        margin-block-end: var(--font-ui-smaller);
        padding-inline-start: 1em;
    }
    & svg {
        height: var(--font-ui-smaller);
        margin-inline-start: 0.25em;
        width: var(--font-ui-smaller);
        vertical-align: middle;
    }
    &[data-active="false"] {
        display: none !important;
    }
}

.note-toolbar-setting-tbar-preview {
    display: flex;
    gap: 2px 8px;
    flex-wrap: wrap;
    & svg {
        height: var(--font-ui-smaller);
        width: var(--font-ui-smaller);
        display: block;
    }
    & i {
        margin-inline-end: 6px;
    }
}

.note-toolbar-setting-tbar-preview-edit {
    margin-top: 6px;
}

.note-toolbar-setting-field-error {
    color: var(--text-error);
}

.note-toolbar-sortablejs-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    & .sortable-chosen {
        background-color: var(--background-primary);
        border-radius: var(--radius-m);
    }
    & .sortable-ghost {
        & .setting-item {
            opacity: 0;
        }
        background-color: var(--interactive-accent);
        border-radius: var(--radius-m);
        opacity: 0.4;
    }
    & .sortable-handle {
        cursor: move;
        cursor: -webkit-grabbing;
    }
    & .sortable-handle:hover {
        cursor: grab;
    }
    & .sortable-handle:active {
        cursor: grabbing;
    }
}

.note-toolbar-setting-item-delete {
    padding: 0 8px 0 0;
    & .setting-item-info {
        display: none;
    }
    & .setting-item-control {
        .is-mobile & {
            margin-top: 0 !important;
        }
        & button {
            background: none;
            box-shadow: none;
            color: var(--icon-color);
            gap: var(--size-4-2);
            padding: var(--size-4-2);
            &:hover {
                opacity: var(--icon-opacity-hover);
                color: var(--icon-color-hover);
                background-color: var(--background-modifier-hover);
            }
            &:focus-visible {
                border-radius: var(--input-radius);
                box-shadow: 0 0 0 1px var(--background-modifier-border);
                box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
            }
        }
    }
    & svg {
        color: var(--text-error);
    }
}

.note-toolbar-setting-item-visibility {
    display: flex;
    & button {
        font-size: var(--font-ui-smaller);
    }
}

.note-toolbar-setting-item-controls {
    display: flex;
    gap: var(--size-4-2);
    & .setting-item {
        border-bottom: none !important;
        padding: 0 !important;
        & .setting-item-control {
            .is-mobile & {
                margin-top: 0 !important;
            }
        }
        & .setting-item-info {
            display: none;
        }
    }
}

.note-toolbar-setting-item-visibility-and-controls {
    border-top: none !important;
    display: flex;
    padding-top: 0.75em !important;
    justify-content: space-between;
    & .setting-item {
        padding-bottom: 0 !important;
        & .setting-item-info {
            display: none;
        }
        .is-mobile & {
            padding-top: 0 !important;
        }
        & .setting-item-control {
            .is-mobile & {
                margin-top: 0 !important;
            }
            & button {
                background: none;
                box-shadow: none;
                color: var(--icon-color);
                gap: var(--size-4-2);
                padding: var(--size-4-2);
                &:hover {
                    opacity: var(--icon-opacity-hover);
                    color: var(--icon-color-hover);
                    background-color: var(--background-modifier-hover);
                }
                &:focus-visible {
                    border-radius: var(--input-radius);
                    box-shadow: 0 0 0 1px var(--background-modifier-border);
                    box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
                }
                & span:last-child {
                    font-size: var(--font-smaller);
                }
            }
        }
    }
    &[data-item-type="break"],
    &[data-item-type="separator"] {
        padding-top: 0 !important;
        & span {
            align-content: center;
            color: var(--text-muted);
            margin-left: 0.25em;
        }
    }
}

.note-toolbar-setting-item-control-std-with-help {
    & .setting-item-control {
        flex-direction: column;
        align-items: end;
        max-width: 50%;
        .is-phone & {
            max-width: 100%;
            .search-input-container {
                width: 100%;
            }
        }
        & .note-toolbar-setting-field-help {
            display: flex;
            flex-direction: column;
            align-items: end;
            max-width: 100%;
            /* don't wrap toolbar previews */
            & .note-toolbar-setting-tbar-preview {
                flex-wrap: nowrap;
                overflow: hidden;
                position: relative;
                max-height: calc(var(--line-height-tight) * 1em);
                max-width: 250px;
                .is-mobile & {
                    max-width: inherit;
                }
                & .note-toolbar-setting-toolbar-list-preview-item {
                    & .note-toolbar-setting-item-preview-code {
                        align-self: flex-start;
                    }
                }
            }
            /* fade overflow */
            & .note-toolbar-setting-tbar-preview::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 33%;
                background: linear-gradient(to right, transparent, var(--setting-items-background));
                pointer-events: none;
            }
        }
    }
}

.note-toolbar-setting-item-fields {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    padding-bottom: 0.25em;
}

.note-toolbar-setting-item-styles {
    & > .setting-item-info {
        align-self: flex-start;
    }
}

.note-toolbar-setting-item-style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    gap: 0.25em;
    width: 100%;
    .setting-item {
        border-top: none !important;
        border: dashed 1px var(--pill-color-remove) !important;
        border-radius: var(--pill-radius) !important;
        gap: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-inline: 0.75em 0.25em !important;
        flex-wrap: nowrap;
        height: var(--input-height);
        .is-mobile & {
            flex-direction: row !important;
            align-items: center !important;
        }
        &:first-child {
            border: dashed 1px var(--pill-color-remove) !important;
        }
        &:last-child {
            border: none !important;
            padding: 0em !important;
            flex: 0 0 100%;
        }
        & .setting-item-info {
            align-self: unset !important;
            margin-inline-end: 0.25em;
            color: var(--pill-color);
            & .setting-item-name {
                font-size: var(--metadata-input-font-size);
            }
        }
        & .setting-item-control {
            --icon-size: var(--icon-xs);
            --icon-stroke: var(--icon-xs-stroke-width);
            .is-mobile & {
                margin-top: 0 !important;
            }
            .is-phone & {
                width: inherit !important;
            }
            & select.dropdown, 
            & select.dropdown:active,
            & select.dropdown:focus {
                border-radius: var(--pill-radius);
                font-size: var(--metadata-input-font-size);
            }
        }
    }
}

.note-toolbar-setting-item-suggester-dialog {
    width: calc(var(--dialog-width) / 1.5);
    & .suggestion-empty {
        padding: var(--size-4-4);
    }
    & .note-toolbar-item-suggestion {
        & .note-toolbar-item-suggester-name, svg.svg-icon {
            color: var(--cg-nt-quick-tools-item-text-color);
        }
        & .note-toolbar-item-suggester-name {
            font-size: var(--cg-nt-quick-tools-item-font-size);
        }
        & svg.svg-icon {
            height: var(--cg-nt-quick-tools-icon-size);
            width: var(--cg-nt-quick-tools-icon-size);
        }
        &.is-selected {
            background-color: var(--cg-nt-quick-tools-item-bg-color-hover);
            border-radius: var(--cg-nt-quick-tools-item-border-radius);
            & .note-toolbar-item-suggester-name, svg.svg-icon {
                color: var(--cg-nt-quick-tools-item-text-color-hover);
            }
        }
    }
    & .note-toolbar-setting-plugin-onboarding {
        margin: var(--size-4-3);
        margin-bottom: 0;
    }
}

.is-phone .note-toolbar-setting-dialog-phonefix {
    padding: 1em;
}

.note-toolbar-setting-mini-dialog {
    width: calc(var(--dialog-width) / 1.5);
}

.note-toolbar-setting-position-group {
    & .setting-item:has(+ .setting-item[data-active="false"]) {
        padding-bottom: 0;
    }
}

.note-toolbar-setting-small-heading {
    color: var(--color-base-50);
    font-size: var(--font-ui-smaller);
    font-variant: small-caps;
    line-height: 1em;
    margin-block-end: 0.5em;
}

.note-toolbar-setting-spacer {
    margin-block-start: 2em;    
}

.note-toolbar-setting-import-confirm-preview {
    border: 1px solid var(--background-modifier-border);
    border-radius: 8px;
    padding: 0em 1em 1em 1em;
    & .note-toolbar-setting-tbar-preview {
        & svg {
            height: var(--font-ui-medium);
            width: var(--font-ui-medium);            
        }
    }
}

.note-toolbar-setting-import-text-area {
    border-top: none;
    .setting-item-info {
        display: none;
    }
    textarea {
        flex: 1 1 auto;
        min-height: 16em !important;
    }
}

.note-toolbar-setting-confirm-dialog-buttons {
    column-gap: 0.5em;
    display: flex;
    justify-content: flex-end;
}

.note-toolbar-setting-confirm-dialog-note {
    font-size: var(--font-ui-small);
}

.note-toolbar-share-dialog {
    .setting-item:first-of-type {
        border-top: none;
        overflow: hidden;
        .setting-item-info {
            overflow: auto;
            .setting-item-name {
                font-family: var(--font-monospace) !important;
                font-size: var(--font-ui-smaller) !important;
                text-wrap: nowrap !important;
            }
        }
    }
}

.is-phone {
    & .note-toolbar-setting-modal-phone-top-inset-fix {
        /* fix/workaround for Obsidian v1.5.11 bug: tall modals opened from settings have an inaccessible close button */
        top: var(--safe-area-inset-top);
    }
    & .note-toolbar-setting-modal-phone-bottom-inset-fix {
        padding-bottom: var(--safe-area-inset-bottom);
    }
}

.note-toolbar-setting-modal-container {
    & .setting-item-heading {
        padding-left: 0;
        padding-right: 0;
    }
    & .modal-close-button {
        z-index: 2; /* fix for modal title overlapping close button */
    }
}

.vertical-tab-content.note-toolbar-setting-modal {
    background-color: transparent !important;
    padding-bottom: var(--size-4-5);
    padding-inline-start: var(--size-4-5);
    padding-inline-end: var(--size-4-5);
    .is-phone & {
        padding-top: 0;
        padding-bottom: var(--size-4-12);
    }
    & .note-toolbar-setting-plugin-onboarding {
        margin-bottom: 0.75em;
    }
}