/* NOTE: make any modifications to this file in src/Styles/styles.css */

@import "./style-settings.yaml";

@import "./body.css";
@import "./callout.css";
@import "./fab.css";
@import "./container.css";
@import "./menu.css";
@import './settings.css';
@import './suggesters.css';
@import './help.css';
@import './api.css';
@import './launchpad.css';